<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <title> Добавить рецепт </title>
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div sec:authorize="hasRole('USER')">Text visible to user.</div>
<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
<div sec:authorize="isAuthenticated()">
    Text visible only to authenticated users.
</div>
Authenticated username:
<div sec:authentication="name"></div>
Authenticated user roles:
<div sec:authentication="principal.authorities"></div>

<div class = "container mt-5 mb-5">
    <h1>Новый рецепт</h1>
    <form method="post">
        <input class="form-control" type="text" name="name" placeholder="Название рецепта" /><br>
        <textarea class="form-control" typeof="text" name="description" placeholder="Описание"></textarea><br>
        <button class="form-control">Добавить</button><br>
    </form>
</div>

</body>
</html>