<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <title> Добавить рецепт </title>
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class = "container mt-5 mb-5">
    <h1>Регистрация</h1>
    <form method="post">
        <input class="form-control" type="text" name="name" placeholder="Введите логин" /><br>
        <input class="form-control mh-9" type="text" name="description" placeholder="Введите имя " /><br>
        <button type="form-control">Добавить</button><br>
    </form>
</div>

</body>
</html>