<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title th:text="ERROR"></title>
</head>
<body>
    <header th:insert="blocks/header::header"></header>
    <h1>Ошибка</h1>
    <h2 class="" th:text="${error}">Что-то пошло не так</h2>
    <h2 class="" th:text="${massage}">Что-то пошло не так</h2>
</body>
</html>