<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title> Вход в акккаунт </title>
    <th:block th:include="blocks/head :: head">
    </th:block>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class = "container mt-5 mb-5">
    <h1>Войти в аккаунт</h1>
    <form th:action="@{/login}" method="post">
        <label for="login" class="control-label">Логин</label>
        <p th:if="${loginError}" class="alert-danger">Неверное имя пользователя или пароль</p>
        <input id = "login" class="form-control" type="text" name="username" placeholder="Введите логин" /><br>
        <label for="password" class="control-label">Пароль</label>
        <input id = "password" class="form-control" type="password" name="password" placeholder="Введите пароль" /><br>
        <button type="submit">Войти</button>
    </form>

</div>
</body>
</html>