<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <title> Главная страница </title>
</head>
<body>
    <header th:insert="blocks/header::header"></header>
<div class="row">
    <div class = "col-6 border border border-info rounded p-3 ml-5">
        <h2 class="text-center">Лучшие рецепты</h2>
        <ul class="list-group" th:each="recipe : ${recipes}">
            <li class="list-group-item">
                <a th:href = "'/recipe/' + ${recipe.id}" class="d-block text-decoration-none">
                    <b th:text="${recipe.rating}"></b>
                    <span th:text="${recipe.name}"></span>
                    <span th:text="${recipe.description}"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col">

    </div>
    <div class="col">
        <a class="btn btn-outline-primary m-2 text-nowrap" href="/recipe/add">Создать новый рецепт</a>
    </div>
</div>

</body>
</html>