<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title th:text = "${recipe.name}"></title>
</head>

<header th:insert="blocks/header::header"></header>
<div class = "m-auto w-50">
    <ul class="list-group">
        <li class="list-group-item" th:text="${recipe.id}"></li>
        <li class="list-group-item" th:text="${recipe.name}"></li>
        <li class="list-group-item" th:text="${recipe.description}"></li>
        <li class="list-group-item" th:text="${recipe.rating}"></li>
        <li class="list-group-item">
            <a th:href="'/users/' + ${recipe.author.id}" th:text="${recipe.author.username}"></a>
        </li>
    </ul>
</div>
</body>
</html>