<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="blocks/head::head"></head>
    <body>
    <header th:insert="blocks/header::header"></header>
        <div class = "container mt-5 mb-5">
            <h1>Регистрация</h1>
            <form th:action="@{/registration}" th:object="${formUser}" method="post">

                <label for="login" class="control-label">Логин</label>
                <input id = "login" th:field="*{userName}" th:value="*{userName}" class="form-control" type="text" name="login" placeholder="Введите логин" />
                <label for="login" class="alert-danger" th:if="${usernameError}">Пользователь с таким логином уже существует</label><br>

                <label for="name" class="control-label">Имя пользователя</label>
                <input id = "name"th:field="*{name}" th:value="*{name}" class="form-control" type="text" name="name" placeholder="Введите имя " /><br>

                <label for="secondName" class="control-label">Фамилия пользователя</label>
                <input id = "secondName"th:field="*{secondName}" th:value="*{secondName}" class="form-control" type="text" name="secondName" placeholder="Введите Фамилию" /><br>

                <label for="password" class="control-label">Пароль</label>
                <input id = "password"th:field="*{password}" class="form-control" type="password" name="secondName" placeholder="Введите пароль" />
                <label for="password" class="alert-danger" th:if="${passwordError}">Пароли не совпадают</label><br>

                <label for="repeatPassword" class="control-label">Повторите пароль</label>
                <input id = "repeatPassword"th:field="*{passwordConfirm}"class="form-control" type="password" name="secondName" placeholder="Повторите пароль" /><br>

                <button class="btn-success">Зарегистрироваться</button><br>
            </form>

        </div>
    </body>
</html>