<html>
<head>
    <meta charset="UTF-8">
    <title> Регистрация </title>
</head>
    <body>
        <div>
            <form method="post">
                <input type="text" name="login" placeholder="Введите логин" />
                <input type="text" name="name" placeholder="Введите имя пользователя" />
                <input type="text" name="secondName" placeholder="Фамилия пользователя" />
                <button type="submit">Добавить</button>
            </form>
        </div>
        {{#users}}
        <div>
            <b>{{Id}}</b>
            <span>{{Login}}<span>
            <span>{{Name}}</span>
            <span>{{SecondName}}<span>
            <a href="localhost:8080/user/{{Id}}" class="button">Профиль</a>
        </div>
        {{/users}}
    </body>
</html>