<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <title> Регистрация </title>
</head>
    <body>
    <header th:insert="blocks/header::header">

    </header>
        <div class = "container mt-5 mb-5">
            <h1>Регистрация</h1>
            <form method="post">
                <input class="form-control" type="text" name="login" placeholder="Введите логин" /><br>
                <input class="form-control" type="text" name="name" placeholder="Введите имя " /><br>
                <input class="form-control" type="text" name="secondName" placeholder="Введите Фамилию" /><br>
                <button type="form-control">Добавить</button><br>
            </form>
        </div>
        <ul class="list-group" th:each="user : ${users}">
            <li class="list-group-item">
                <b th:text="${user.Id}"></b>
                <span th:text="${user.Login}"></span>
                <span th:text="${user.Name}"></span>
                <span  th:text="${user.SecondName}"></span>
                <a class="btn btn-outline-primary button p-1" th:href="'/user/' + ${user.Id}">Профиль</a>
                <form th:action = "'/user/' + ${user.Id} + '/remove'"  class="d-inline-block" method="post">
                    <button class="btn btn-outline-primary button p-1" type="submit">Удалить</button>
                </form>
            </li>
        </ul>
    </body>
</html>