<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title th:text = "${user.Login}"></title>
</head>

    <header th:insert="blocks/header::header"></header>
    <div class = "m-auto w-50">
        <ul class="list-group">
            <li class="list-group-item" th:text="${user.id}"></li>
            <li class="list-group-item" th:text="${user.login}"></li>
            <li class="list-group-item" th:text="${user.name}"></li>
            <li class="list-group-item" th:text="${user.secondName}"></li>
        </ul>
    </div>
</body>


</body>
</html>