<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title th:text = "${user.Login}"></title>
</head>
<body>

    <header th:insert="blocks/header::header"></header>
    <ul>
        <li th:text="${user.Id}"></li>
        <li th:text="${user.Login}"></li>
        <li th:text="${user.Name}"></li>
        <li th:text="${user.SecondName}"></li>
    </ul>


</body>
</html>