<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{user.Login}} </title>
</head>
<body>
{{#user}}
    <b>{{Id}}</b>
    <span>{{Login}}<span>
    <span>{{Name}}</span>
    <span>{{SecondName}}<span>
{{/user}}

</body>
</html>